input,
input:focus,
input[type],
input[type]:focus,
select,
select:focus,
textarea,
textarea:focus {
  font-size: 16px !important;
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
}
